# Habilitar Swagger en producción (opcional)
SWAGGER_ENABLE=false

API_TOKEN=tu_token_secreto
CUSTOM_HEADER_VALUE=valor_custom_header
DATABASE_URL=postgresql://tu_usuario_db:tu_password_db@tu_host_de_supabase:5432/tu_nombre_db
DB_HOST=tu_host_de_supabase
DB_NAME=tu_nombre_db
DB_USER=tu_usuario_db
DB_PASSWORD=tu_password_db
PORT=3000
